<mat-toolbar class="navbar">
  <div>PlatziSquare</div>
  <div>
    <span>Inicio</span>
    <span>Contacto</span>
  </div>
</mat-toolbar>

<mat-card class="cards">
  <mat-card-title>Mapa</mat-card-title>
  <mat-card-content>
    <div id="map">{{ coordinates }}</div>
  </mat-card-content>
</mat-card>

<mat-card class="cards">
  <mat-card-title>Lugares Cercanos</mat-card-title>
  <mat-card-content>
    <mat-list
      *ngFor="let place of places; let index"
      [ngSwitch]="place.closeness"
    >
      <mat-list-item
        appClickCounter
        [appHighlight]="place.plan"
        [ngStyle]="{ color: place.active ? '#000000' : '#6b6b6b' }"
        [ngClass]="{ evenNumber: (index + 1) % 2 !== 0 }"
      >
        <mat-icon matListIcon> {{ place.icon }} </mat-icon>
        <h3 matLine>{{ place.name }}</h3>
        <p matLine *ngSwitchCase="1" [ngStyle]="{ color: '#009933' }">
          Cercano
        </p>
        <p matLine *ngSwitchCase="2" [ngStyle]="{ color: '#cc5200' }">
          Itermedio
        </p>
        <p matLine *ngSwitchCase="3" [ngStyle]="{ color: '#e60000' }">Lejano</p>
      </mat-list-item>
      <mat-divider></mat-divider>
    </mat-list>
  </mat-card-content>
</mat-card>
<mat-card class="cards">
  <mat-card-title>Detalle</mat-card-title>
  <mat-card-content></mat-card-content>
</mat-card>
