<mat-card class="cards">
  <mat-card-title>Mapa</mat-card-title>
  <mat-card-content>
    <div id="map">{{ coordinates }}</div>
  </mat-card-content>
</mat-card>

<mat-card class="cards">
  <mat-card-title>Lugares Cercanos</mat-card-title>
  <mat-card-content>
    <mat-list
      *ngFor="let place of places; let index"
      [ngSwitch]="place.closeness"
    >
      <mat-list-item
        appClickCounter
        [appHighlight]="place.plan"
        [ngStyle]="{ color: place.active ? 'black' : 'gray' }"
        [ngClass]="{ evenNumber: (index + 1) % 2 !== 0 }"
      >
        <mat-icon matListIcon> {{ place.icon }} </mat-icon>
        <h3 matLine>{{ place.name }}</h3>
        <p matLine *ngSwitchCase="1" [ngStyle]="{ color: 'green' }">
          Cercano
        </p>
        <p matLine *ngSwitchCase="2" [ngStyle]="{ color: 'yellow' }">
          Itermedio
        </p>
        <p matLine *ngSwitchCase="3" [ngStyle]="{ color: 'red' }">Lejano</p>
      </mat-list-item>
      <mat-divider></mat-divider>
    </mat-list>
  </mat-card-content>
</mat-card>
<mat-card class="cards">
  <mat-card-title>Detalle</mat-card-title>
  <mat-card-content></mat-card-content>
</mat-card>
